@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111827;
  --accent: #2D7A35;
  --accent-hover: #23622a;
  --accent-light: #f0f9f2;
}

.dark {
  --background: #111827; /* Tremor Dark Background */
  --foreground: #f9fafb;
  --accent: #2D7A35;
  --accent-hover: #5bb975;
  --accent-light: #0f1f12;
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.2s ease, color 0.2s ease;
}
